.Order{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(155, 107, 107);
    color: rgb(93, 51, 51);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-shadow: 1px 1px  rgb(155, 107, 107);
}

.Ingredients-Title{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.Ingredients{
    display: flex;
    margin-bottom: 10px;
}

.Ingredient{
    margin: 0 10px;
}

.Price{
    margin-bottom: 10px;
    font-weight: bold;
}

.User-Data{
    font-weight: bold;
}