/* Adding different sizes in the future */
.Success{
    background-color: rgb(9, 83, 11);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    min-width: auto;
    cursor: pointer;
    border-radius: 20px;
}

.Success:hover {
    background-color: rgb(6, 49, 7);
}

.Success:disabled {
    background-color: gray;
    cursor: not-allowed;
}


.Success-Transparent{
    background-color: transparent;
    border: none;
    color: green;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    min-width: auto;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.Success-Transparent:hover {
    background-color: transparent;
}

.Success-Transparent:disabled{
    background-color: transparent;
    cursor:not-allowed;
    /* color: gray; */
}

.Danger{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
}

.Danger:hover {
    background-color: rgb(80, 10, 10);
}

.Danger-Transparent{
    background-color: transparent;
    border: none;
    color: red;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.Danger-Transparent:hover {
    background-color: transparent;
}

.Danger-Transparent:disabled{
    background-color: transparent;
    cursor:not-allowed;
    /* color: gray; */
}


.Warning{
    background-color: yellow;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
    cursor: pointer;
}

.Gray{
    background-color: gray;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: auto;
    cursor: pointer;
}


.Black{
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
    cursor: pointer;
}

.Action{
    background-color: brown;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
}

.Action:hover{
    background-color: rgb(105, 20, 20);
}

.Action:disabled{
    background-color: rgb(175, 172, 172);
    cursor:not-allowed;
}
